<settings>
  <servers>
    <server>
      <id>artifact-registry</id>
      <configuration>
        <httpConfiguration>
          <get>
            <usePreemptive>true</usePreemptive>
          </get>
          <head>
            <usePreemptive>true</usePreemptive>
          </head>
          <put>
            <params>
              <property>
                <name>http.protocol.expect-continue</name>
                <value>false</value>
              </property>
            </params>
          </put>
        </httpConfiguration>
      </configuration>
      <username>oauth2accesstoken</username>
      <password>ya29.a0AfB_byBRE7xSL_1_h7Jlhynbwlb839VvHrXtbvcpM-RP0UyzYnNKDImBGZ6uPmRpw0pvlJCBFJm_FWOyZjCs0eJv7p18liwNpxa828TzcBTtbg2ZZVyYgI8fbGU9WULDZdKV2HD1H_5ftnbAq1F_oGVpokTxfbM3kKXaS4caCgYKAfISAQ4SFQGOcNnC-mc9VZDWVm7vPmt-OV8B8g0174</password>
    </server>
    <server>
      <id>artifact-registry2</id>
      <configuration>
        <httpConfiguration>
          <get>
            <usePreemptive>true</usePreemptive>
          </get>
          <head>
            <usePreemptive>true</usePreemptive>
          </head>
          <put>
            <params>
              <property>
                <name>http.protocol.expect-continue</name>
                <value>false</value>
              </property>
            </params>
          </put>
        </httpConfiguration>
      </configuration>
      <username>oauth2accesstoken</username>
      <password>ya29.a0AfB_byBRE7xSL_1_h7Jlhynbwlb839VvHrXtbvcpM-RP0UyzYnNKDImBGZ6uPmRpw0pvlJCBFJm_FWOyZjCs0eJv7p18liwNpxa828TzcBTtbg2ZZVyYgI8fbGU9WULDZdKV2HD1H_5ftnbAq1F_oGVpokTxfbM3kKXaS4caCgYKAfISAQ4SFQGOcNnC-mc9VZDWVm7vPmt-OV8B8g0174</password>
    </server>
  </servers>
</settings>