<settings>
  <servers>
    <server>
      <id>artifact-registry</id>
      <configuration>
        <httpConfiguration>
          <get>
            <usePreemptive>true</usePreemptive>
          </get>
          <head>
            <usePreemptive>true</usePreemptive>
          </head>
          <put>
            <params>
              <property>
                <name>http.protocol.expect-continue</name>
                <value>false</value>
              </property>
            </params>
          </put>
        </httpConfiguration>
      </configuration>
      <username>oauth2accesstoken</username>
      <password>ya29.a0AfB_byAujGuQIWJXu8t-EmBKlyCao-fxCRxMbfYjQi8zDatbLNhJ3sAE9NW2IPmirsYLzgm8bxn3eorXFPPL9mWttUD1wtXnOQrOGrVTQxXh4KJHgsh6va8pS1CcNjOs99pyAcIqFYrK0d_KZRq-653rrqotXxQ7kJKAl3waCgYKAT4SAQ4SFQGOcNnClAlqufC66TMQqCZ7ae5wWQ0174</password>
    </server>
    <server>
      <id>artifact-registry2</id>
      <configuration>
        <httpConfiguration>
          <get>
            <usePreemptive>true</usePreemptive>
          </get>
          <head>
            <usePreemptive>true</usePreemptive>
          </head>
          <put>
            <params>
              <property>
                <name>http.protocol.expect-continue</name>
                <value>false</value>
              </property>
            </params>
          </put>
        </httpConfiguration>
      </configuration>
      <username>oauth2accesstoken</username>
      <password>ya29.a0AfB_byAujGuQIWJXu8t-EmBKlyCao-fxCRxMbfYjQi8zDatbLNhJ3sAE9NW2IPmirsYLzgm8bxn3eorXFPPL9mWttUD1wtXnOQrOGrVTQxXh4KJHgsh6va8pS1CcNjOs99pyAcIqFYrK0d_KZRq-653rrqotXxQ7kJKAl3waCgYKAT4SAQ4SFQGOcNnClAlqufC66TMQqCZ7ae5wWQ0174</password>
    </server>
  </servers>
</settings>